<div class="container">
  <div class="border">
    <button class="btn btn-md btn-outline-primary">Create</button>
  </div>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Device Number</th>
        <th>Device Info</th>
        <th>Likes</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let report of reports">
        <td>
          <span>{{ report.id }}</span>
        </td>
        <td>
          <span>{{ report.deviceNumber }}</span>
        </td>
        <td>
          <span>{{ report.deviceInfo }} </span>
        </td>
        <td>
          <span> {{ report.likes.length }} </span>
        </td>
        <td>
          <button class="btn btn-sm btn-info">Read</button>
          <button class="btn btn-sm btn-warning">Update</button>
          <button class="btn btn-sm btn-danger">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
